
.cell-border {
    border: 1px dashed #999;
}

.output-border {
    border: 1px dashed #999;
    border-top: none;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

td, th {
    white-space: nowrap;
    border: 1px solid #ddd;
    padding: 7px;
}

th {
    background-color: #eee;
}

tbody tr td:first-of-type {
    background-color: #eee;
}     

webview {
    height: 100%;
}

.center {
    text-align: center;
}

.notebook {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}